.indie-flower-regular {
    font-family: "Indie Flower";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
  }
.indie-flower-bold {
    font-family: "Indie Flower";
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
  }
  
  body {
    background-color: #DEDEDE;
    padding: 30px;
  }

  .card-text-main {
    color: #a2a34a;
    text-align: center;
  }
  .card-text-desc {
    color: #4292a7;
    text-align: center;
  }
  .indie-flower-log {
    font-family: "Indie Flower";
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: palevioletred;
    text-align: center;
  }
  .indie-flower-win {
    font-family: "Indie Flower";
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: lightgoldenrodyellow;
    text-align: center;
  }